{% extends 'wizard_builder/base.html' %}

{% block wiz-content %}

    {% block pre-review-content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <h1 class="title">
                Review
            </h1>
        </div>
    </section>
    {% endblock %}

    {% block review-content %}
        <section class="section">
            <div class="container">
                {% include "wizard_builder/review_content.html" %}
            </div>
        </section>
    {% endblock %}

    {% block post-review-content %}
    {% endblock %}

{% endblock %}
