<form class="form-question" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="{{ view.wizard_current_name }}" value="{{ view.wizard_current_step }}"/>

    <div class="container has-margin-top">
        {% include "wizard_builder/wizard_form_fields.html" %}
    </div>
    
    <div class="container has-margin-bottom has-margin-top">
        {% if view.wizard_prev_step_exists %}
            <input class='button is-danger' type="submit" name="{{ view.wizard_goto_name }}" value="{{ view.wizard_back_name }}" />
        {% endif %}
        {% if view.wizard_next_is_done %}
            <input class="button is-primary" type="submit" name="{{ view.wizard_goto_name }}" value="{{ view.wizard_review_name }}" />
        {% else %}
            <input class='button is-primary' type="submit" name="{{ view.wizard_goto_name }}" value="{{ view.wizard_next_name }}" />
        {% endif %}
    </div>
</form>
