{% load wizard_builder %}

<div class="content">
    <h2 class="has-text-centered">Step {{ view.wizard_current_step | add:1 }} </h2>
    <progress class="progress is-danger" value="{{ view.wizard_current_step | add:1 }}" max="12"></progress>

</div>
<hr>

{% for field in form %}
    <div class="field{% if forloop.counter != 1 %} is-extra-question{% endif %}">
        {% if not field|is_multiple_choice %}
            <h2 id='extra-{{ field.auto_id }}' class="wiz-question extra">
                {% include "wizard_builder/wizard_form_field_info.html" %}
            </h2>
            <div class="wiz-input">
                {% include "wizard_builder/wizard_form_field.html" %}
            </div>
            <hr>
        {% else %}
            {% include "wizard_builder/wizard_form_field_info.html" %}
            {% include "wizard_builder/wizard_form_field.html" %}
            <hr>
            {% comment %}
            <fieldset>
                <legend>
                    {% include "wizard_builder/wizard_form_field_info.html" %}
                </legend>
                {% include "wizard_builder/wizard_form_field.html" %}
            </fieldset>
            {% endcomment %}
        {% endif %}

    </div>
{% endfor %}
